<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for state in states.values()|sort(attribute="name") %}
            <LI>State: {{ state.id }}: <B>{{ state.name }}</B>
                <UL>
                {% for city in state.cities|sort(attribute="name") %}
                    <LI>City: {{ city.id }}<B>{{ city.name }}</B></LI>
                {% else %}
                    {# no cities #}
                {% endfor %}
                </UL>
            </LI>
        {% else %}
            {# no states #}
        {% endfor %}
        </UL>
    </BODY>
</HTML>
